.App {
    text-align: center;
    -webkit-text-fill-color: black;
}

.App-header {
    background-color: #D2D6DE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}